body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #d195ff;
    color: white;
}

.title {
    color: grey;
}