{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="../static/css/comments.css">
    <div class="infos">
        {% for title in result %}
            {% set anime_nm = title[0] %}
            {% set img_src = title[1] %}
            <p>{{ anime_nm }}</p>
            <img src="{{ img_src }}" width="300" height="400">
            <hr>
        </div>
        <form id="comment_form" method="POST">
            <div class="form-group">
                <label for="comment">댓글</label>
                <textarea class="form-control" id="comment" name="comment" rows="3" style="width: 750px;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endfor %}

    <hr>

    <div class="row  d-flex justify-content-center">
        <div class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                {% if comments %} <h4>Comments({{ cnt }})</h4>
                {% else %} <h4>Comments(0)</h4>
                {% endif %}
            </div>
            {% for comment in comments %}
                {% set username = comment[0] %}
                {% set text = comment[1] %}
                {% set create_dt = comment[2] %}

                <div class="card p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center">
                            {% if profile %} <img src="{{ username }}.jpg" width="30" class="user-img rounded-circle mr-2">
                            {% else %} <img src="../static/images/default_profile.png" width="30" class="user-img rounded-circle mr-2">
                            {% endif %}
                            <span>
                                <a href="/user={{ username }}">{{ username }}</a> 
                                <small class="font-weight-bold">{{ text }}</small>
                            </span>
                        </div>
                        <small>{{ create_dt }}</small>
                    </div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply px-4">
                            <small>Remove</small>
                            <span class="dots"></span>
                            <small>Translate</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}